rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     //Rules for the User Document
    match /Users/{uid} {
    	//Users can read data about all other users
    	allow read : if request.auth != null
      //Users can edit data if it is their own data
      allow write: if request.auth.uid == uid;
    }
    //Rules for the User Profile Document
    match /Users/{uid}/ProfileInfo/{againuid} {
    	//Users can read data about all other users
    	allow read : if request.auth != null
      //Users can edit data if it is their own data
      allow write: if request.auth.uid == uid;
    }
    //Rules for the Feedback Collection
    match /Feedback/{uid} {
    	//No one can read the suggestions
    	allow read : if false
      //Only authenticated users can write suggestions
      allow write: if request.auth.uid != null;
    }
  }
}